In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [61]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results_june =session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)  == 6).all()

In [33]:
#  3. Convert the June temperatures to a list.
temp_june=list(results_june)

In [80]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
temp_df = pd.DataFrame(temp_june, columns=['Dates', 'Temp'])

temp_df.set_index('Dates')

            Temp
Dates
2010-06-01  78.0
2010-06-02  76.0
2010-06-03  78.0
2010-06-04  76.0
2010-06-05  77.0
...          ...
2017-06-26  79.0
2017-06-27  74.0
2017-06-28  74.0
2017-06-29  76.0
2017-06-30  75.0

[1700 rows x 1 columns]

In [57]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
temp_df.describe()

              Temp
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [58]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_december =session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)  == 12).all()

In [53]:
# 7. Convert the December temperatures to a list.
december_temp = list(results_december)

In [79]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
temp_dec_df = pd.DataFrame(december_temp, columns = ['Dates', 'Temp'])
temp_dec_df.set_index('Dates')

            Temp
Dates
2010-12-01  76.0
2010-12-03  74.0
2010-12-04  74.0
2010-12-06  64.0
2010-12-07  64.0
...          ...
2016-12-27  71.0
2016-12-28  71.0
2016-12-29  69.0
2016-12-30  65.0
2016-12-31  65.0

[1517 rows x 1 columns]

In [67]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
temp_dec_df.describe()

              Temp
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000